.container{
    margin-top: 2em;
    .router-container{
        .parent-route-container{
            padding: 1.5em 3em;
            &:hover{
                cursor: pointer;
                border-right: 2px solid black;
                background-color: rgba(128, 128, 128, 0.129);
            }
            .route{
                font-size: 15px;
                font-weight: bold;
                color: gray;
                cursor: pointer;
            }
        }
    }
}
.active{
    cursor: pointer;
    border-right: 2px solid black;
    background-color: rgba(128, 128, 128, 0.129);
}